.start{
    color: blue;
    text-align: center;
    }
.cars{
    font: 1.4em 'Times New Roman', bolder;
    text-decoration: none;
    color: yellow;
    }
.ol1{
    color: green; 
    font-size: 20px;
    }
.ol li{
    font-family: 'Marck Script', cursive;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 60px;
    border-bottom: 2px rgb(25, 103, 145);
    border: 3px solid #CADFCF;
    border-radius: 6px;
    position: relative;
    text-align: center;
    width: 333px;
    background-color: rgb(212, 199, 199);
    }
.body{
    background-color: beige;
    }
.age{
    width: 70px;
    }
.pokakulki{
    color: brown;
    text-align: center;
    background-color: deepskyblue;
    }
.ssilko{
    text-decoration: none;
    }
.table{
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    }
.hhh{
    background: rgb(5, 245, 61);
    }
.td{
    background: rgb(128, 134, 129);
    }
.my-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    }
.my-flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    }
.my-flex-block1{
    flex-basis: 100%;
    margin: auto;
    background-color: blue;
    color: rgb(64, 112, 52);
    }
.my-flex-block2{
    flex-basis: 100%;
    margin: auto;
    background-color: rgb(0, 247, 255);
    color: chocolate;
    }
.my-flex-block3{
    flex-basis: 100%;
    margin: auto;
    background-color: rgb(238, 255, 0);
    color: rgb(235, 98, 98);
    }
.my-flex-block4{
    flex-basis: 100%;
    margin: auto;
    background-color: rgb(255, 0, 0);
    color: rgb(31, 114, 103);
    }
.my-flex-block5{
    flex-basis: 100%;
    margin: auto;
    background-color: rgb(255, 0, 170);
    color: rgb(35, 20, 165);
    }
.my-flex-block6{
    flex-basis: 100%;
    margin: auto;
    background-color: rgb(0, 255, 42);
    color: rgb(168, 30, 210);
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    }
    