.listContent {
  max-height: calc(100vh - 61px - 90px - 75px - 50px - 50px);
  overflow: auto;
  flex-grow: 1;
}

.todoListStyle {
  margin: -3px 0;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .listContent {
    max-height: calc(100vh - 61px - 90px - 130px - 50px - 50px);
  }
  .todoListStyle {
    margin: 17px 0;
  }
}

@media screen and (max-width: 700px) {
  .listContent {
    max-height: calc(100vh - 61px - 124px - 110px - 50px - 50px);
  }
  .todoListStyle {
    margin: -2px 0;
  }
}

@media screen and (max-width: 600px) {
  .listContent {
    max-height: calc(100vh - 51px - 114px - 97px - 140px - 50px - 14px);
  }
  .todoListStyle {
    margin: -4px 0;
  }
}

@media screen and (max-width: 586px) {
  .listContent {
    max-height: calc(100vh - 51px - 114px - 97px - 140px - 56px - 5px);
  }
  .todoListStyle {
    margin: -4px 0;
  }
}

@media screen and (max-width: 544px) {
  .listContent {
    max-height: calc(100vh - 51px - 114px - 97px - 140px - 56px - 5px);
  }
  .todoListStyle {
    margin: -1px 0;
  }
}

@media screen and (max-width: 486px) {
  .listContent {
    max-height: calc(100vh - 51px - 91px - 97px - 140px - 50px - 5px);
  }
  .todoListStyle {
    margin: 30px 0;
  }
}

@media screen and (max-width: 468px) {
  .todoListStyle {
    margin: 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .listContent {
    max-height: calc(100vh - 51px - 91px - 92px - 135px - 30px - 5px);
  }
  .todoListStyle {
    margin: 21px 0;
  }
}

@media print {
  .listContent {
    display: none;
  }
}
