.footer {
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
  .a {
    font-size: 20px;
    color: rgb(172, 172, 172);
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    &:hover {
      color: #666;
    }
  }
}

@media screen and (max-width: 468px) {
  .footer {
    justify-content: center;
    flex-direction: column;
  }
}

@media print {
  .footer {
    display: none;
  }
}

// @media screen and (max-width: 586px) {
//   .footer {
//     flex-direction: column;
//   }
// }
