.commonListStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #eef0f5;
  border-top: 1px solid #eef0f5;
  position: relative;
  .taskHandle {
    cursor: move;
    color: #ccc;
    position: absolute;
    font-size: 24px;
    left: 25px;
    opacity: 0;
    &::before {
      content: "\f07d";
      font-family: FontAwesome;
    }
    &:hover {
      color: rgb(133, 133, 133);
    }
  }
  .leftSide {
    display: flex;
    align-items: center;
  }
  .checkImg {
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkLabel {
    cursor: pointer;
    border: 1px solid #1eb760;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
  }
  .taskText {
    padding-right: 10px;
    font-size: 22px;
    color: #555;
  }
  // .dueData {
  //   font-size: 12px;
  //   line-height: 16px;
  //   padding: 0 7px;
  //   background: #eee;
  //   border: 1px solid transparent;
  //   color: #666;
  //   white-space: nowrap;
  //   display: inline-block;
  //   border-radius: 12px;
  //   vertical-align: middle;
  //   cursor: pointer;
  //   &:hover {
  //     background: #e1e1e1;
  //   }
  // }
}

.actions {
  display: flex;
  font-size: 22px;
  li {
    list-style: none;
    margin: 0 5px;
    span {
      display: inline-block;
      width: 1.25em;
      text-align: center;
    }
  }
  .star {
    opacity: 0;
  }
  .starSpan {
    cursor: pointer;
    color: #ccc;
    &::before {
      content: "\f005";
      font-family: FontAwesome;
    }
    &:hover {
      color: orange;
    }
  }
  .starInp {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
  .starLabel {
    margin: 0;
    clear: none;
    padding: 0 5px;
    display: inline-block;
  }
  .tag {
    opacity: 0;
    .tagSpan {
      cursor: pointer;
      color: #ccc;
      &::before {
        content: "\f02b";
        font-family: FontAwesome;
      }
      &:hover {
        color: #843ab8;
      }
    }
  }
  .delete {
    opacity: 0;
    .deleteSpan {
      cursor: pointer;
      color: #ccc;
      &::before {
        content: "\f00d";
        font-family: FontAwesome;
      }
      &:hover {
        color: red;
      }
    }
  }
}

.activeTask {
  composes: commonListStyle;
  &:hover {
    border-color: #d1d9e9;
    .tag, .star, .delete, .taskHandle {
      opacity: 1;
    }
  }
  .checkLabel:hover {
    background-image: url('https://vignette.wikia.nocookie.net/lub/images/5/5b/%D0%93%D0%B0%D0%BB%D0%BE%D1%87%D0%BA%D0%B0_%D0%B1%D0%B5%D0%B7_%D1%84%D0%BE%D0%BD%D0%B0.png/revision/latest?cb=20140314123945&path-prefix=ru');
    background-size: contain;
    background-position: 1px 1px;
    background-color: #1eb760;
  }
}

.completedTask {
  &:hover {
    .delete, .taskHandle {
      opacity: 1;
    }
    .tag, .star {
      visibility: hidden;
    }
  }
  .taskText {
    color: #bbb;
    text-decoration: line-through;
  }
  .dueData {
    text-decoration: line-through;
  }
  .checkLabel {
    background-image: url('https://vignette.wikia.nocookie.net/lub/images/5/5b/%D0%93%D0%B0%D0%BB%D0%BE%D1%87%D0%BA%D0%B0_%D0%B1%D0%B5%D0%B7_%D1%84%D0%BE%D0%BD%D0%B0.png/revision/latest?cb=20140314123945&path-prefix=ru');
    background-size: contain;
    background-position: 1px 1px;
    background-color: #ebeef4;
    border-color: #ebeef4 !important;
    &:hover {
      background-color: #ebeef4;
      border-color: #ebeef4 !important;
    }
  }
}

.pinnedTask {
  border-bottom: 1px solid #daeefa;
  background-color: #f0f8fd;
  border-top-color: #daeefa;
  .star {
    opacity: 1;
    .starSpan {
      color: orange;
    }
  }
}
