* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    font: 400 17px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*div1*/

.menu {
    width: 100%;
}

.menu_cont {
    position: relative;
    min-height: 100%;
    min-width: 320px;
}

.logo {
    cursor: pointer;
    float: left;
    margin: 10px 20% 0 17.4%;
}

.logo a {
    display: block;
    position: absolute;
    height: 60px;
    width: 125px;
    margin: 5px;
}

nav ul {
    display: flex;
    position: relative;
    float: left;
    min-width: 450px;
    list-style: none;
    margin: 0;
    margin-right: 17.4%;
    padding-left: 0;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

nav ul li {
    text-transform: uppercase;
    margin: 30px 20px;
}

nav ul li a {
    color: #82868f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li:nth-child(2)::after, nav ul li:nth-child(2)::before {
    content: '.';
    color: #82868f;
    position: absolute;
}

nav ul li:nth-child(2)::before {
    top: 25px;
    left: 89px;
}

nav ul li:nth-child(2)::after {
    top: 25px;
    left: 200px;
}

nav ul li:last-child a {
    height: 40px;
    width: 125px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -15px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #0ebfdd;
    border-radius: 20px;
}

nav ul li:last-child a:hover {
    background-color: #16cae9;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMGViZmRkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxZGQ1ZjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMGViZmRkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(14, 191, 221)),color-stop(0.5, rgb(29, 213, 245)),color-stop(1, rgb(14, 191, 221)));
    background-image: -webkit-repeating-linear-gradient(bottom,rgb(14, 191, 221) 0%,rgb(29, 213, 245) 50%,rgb(14, 191, 221) 100%);
    background-image: repeating-linear-gradient(to top,rgb(14, 191, 221) 0%,rgb(29, 213, 245) 50%,rgb(14, 191, 221) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(14, 191, 221) 0%,rgb(29, 213, 245) 50%,rgb(14, 191, 221) 100%);
}

@media \0screen\,screen\9 {
    nav ul li:last-child a:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0ebfdd",endColorstr="#ff0ebfdd",GradientType=0);
    }
}

/*div2*/

.mission {
    position: relative;
    width: 100%;
    min-height: 570px;
    background: url('mission.png') no-repeat;
    background-size: cover;
    padding-top: 350px;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}

.mission_text {
    position: relative;
    margin: 0 auto;
    width: 50%; 
    text-align: center;
    color: #f7fdfe;
}

.mission_text header {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5%;
}

.mission_text header::before, .mission_text header::after {
    position: absolute;
    content: '★';
    font-size: 10px;
    top: 12%;
}

.mission_text header::before {
    left: 240px;
}

.mission_text header::after {
    right: 240px;
}

/*div3 */

.about {
    height: 200px;
    color: #45494d;
    text-align: center;
    padding-top: 30px;
}

.about header {
    color: #0ebfdd;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about span {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/*div4*/

.team {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 400px;
    background-color: #0ebfdd;
    text-align: center;
    padding-top: 30px;
}

.team header {
    font-size: 32px;
    font-weight: 500;
    color: #f7fdfe;
    margin-bottom: 40px;
}

.team_persons {
    position: relative;
}

.person a {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.person {
    position: relative;
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.first_person {
    background-image: url('person_1.png');
    background-position: 42% 75%;
    margin-left: 388px;
    margin-right: 70px;
}

.second_person {
    background-image: url('person_2.png');
}

.third_person {
    background-image: url('person_3.png');
    margin-left: 70px;
    margin-right: 388px;
}

.person span {
    position: absolute;
    display: block;
    width: 150px;
    height: 45px;
    top: 150px;
    color: #f7fdfe;
}

.person span:last-child {
    font-size: 13px;
    margin-top: 20px;
}

.work {
    width: 180px;
    height: 40px;
    margin: 0 auto;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #f7fdfe;
    border-radius: 20px;
    text-transform: uppercase;
}

.team a:hover {
    border: 2px solid #f7fdfe;
    line-height: 33px;
}

/*div5*/

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    color: #45494d;
    text-align: center;
}

.services header {
    color: #0ebfdd;
    font-size: 32px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 30px;
}

.services_title_text {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 75%;
    height: 300px;
    margin: 0 auto;
}

.box {
    position: relative;
    float: left;
    height: 100px;
    width: 70px;
    background-image: url('services.png');
    background-repeat: no-repeat;
    margin: 0 10px;
    margin-right: 240px;
}

.design {
    background-position: -16px 5px;
}

.ideas {
    background-position: -115px 5px;
}

.answer {
    background-position: -214px 5px;
}

.layout {
    background-position: -16px -102px;
}

.support {
    background-position: -115px -102px;
}

.star {
    background-position: -214px -102px;
}

.services_title {
    display: block;
    position: absolute;
    height: 30px;
    width: 230px;
    left: 70px;
    font-weight: 500;
}

.services_text {
    display: block;
    position: absolute;
    height: 70px;
    width: 230px;
    top: 30px;
    left: 70px;
    color:#82868f;
}

/*div6*/

.map {
    width: 100%;
    margin-bottom: -4px;
}

.map iframe {
    width: 100%;
    height: 600px;
}

/*div6*/

footer {
    width: 100%;
    background-color: #45494d;
    margin-bottom: 0;
}

.footer_content {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
}

.footer_top {
    display: flex;
    border-bottom: 2px solid #82868f;
}

footer ul {
    display: flex;
    position: relative;
    float: left;
    min-width: 450px;
    list-style: none;
    margin: 0;
    text-align: center;
    color: #f7fdfe;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0;
}

footer ul li {
    margin: 30px 0 10px 20px;
}

.link {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 9px;
}

.link div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url('link.png');
    background-repeat: no-repeat;
    margin: 0 10px;
    cursor: pointer;
}

.link div a {
    height: 40px;
    width: 40px;
    position: absolute;
}

.mail {
    background-position: -24px -13px;
}

.fb {
    background-position: -95px -12px;;
}

.tw {
    background-position: -168px -12px;;
}

.footer_bottomtext {
    position: relative;
    padding: 5px;
    text-align: right;
}

footer span {
    font-size: 14px; 
    color: #82868f;
    margin: 0 15px;
}

footer span:nth-child(2)::after, footer span:nth-child(2)::before {
    content: '|';
    color: #82868f;
    position: absolute;
}

footer span:nth-child(2)::before {
    top: 7px;
    left: 557px;
}

footer span:nth-child(2)::after {
    top: 7px;
    left: 728px;
}
