* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font: 400 1rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper_content {
    max-width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #f7fdfe;
}

h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #f7fdfe;
}

/* header */

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    width: 140px;
    height: 65px;
    background-image: url('logo.png');
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    height: 65px;
    margin: 0;
    padding-left: 0;
}

nav ul li {
    position: relative;
    width: 100px;
    height: 100%;
    line-height: 65px;
}

nav ul li a {
    color: #82868f;
}

nav ul li a:hover {
    font-weight: 800;
    text-decoration: underline;
}

nav ul li:nth-child(2)::after, nav ul li:nth-child(2)::before {
    content: '.';
    color: #82868f;
    position: absolute;
    top: -5px;
}

nav ul li:nth-child(2)::before {
    left: -6px;
}

nav ul li:nth-child(2)::after {
    left: 104px;
}

.sign_in {
    background-color: #0ebfdd;
    border-radius: 20px;
    padding: 0 30px;
    line-height: 40px;
}

.sign_in:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMGViZmRkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxZGQ1ZjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMGViZmRkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: repeating-linear-gradient(to top,rgb(14, 191, 221) 0%,rgb(29, 213, 245) 50%,rgb(14, 191, 221) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(14, 191, 221) 0%,rgb(29, 213, 245) 50%,rgb(14, 191, 221) 100%);
}

/*div2-mission*/

.mission {
    width: 100%;
    height: 500px;
    background-image: url('mission.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}

.mission_text {
    margin-top: 280px;
    text-align: center;
    color: #f7fdfe;
}
.mission_text h2 {
    position: relative;
}

.stars::before, .stars::after {
    position: absolute;
    content: "\2605";
    font-size: 1.1rem;
    top: 15px;
}

.stars::before {
    left: 360px;
}

.stars::after {
    right: 360px;
}

/* div3 about */

.about {
    color: #45494d;
    text-align: center;
    padding-bottom: 5%;
}

.about h2 {
    color: #0ebfdd;
}

/* div4 team */

.team {
    width: 100%;
    background-color: #0ebfdd;
    text-align: center;
    padding-bottom: 5%;
}

.team_persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.person_box {
    margin-bottom: 10px;
    color: #f7fdfe;
}

.person {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 25px;
    background-position: 50%;
    cursor: pointer;
}

.person_box:hover {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.8);
}

.first_person {
    background-image: url('person_1.png');
    background-position: 42% 75%;
}

.second_person {
    background-image: url('person_2.png');
}

.third_person {
    background-image: url('person_3.png');
}

.name {
    font-size: 1rem;
}

.position {
    font-size: 0.8rem;
}

.work {
    padding: 5px 30px;
    font-weight: 500;
    border: 1px solid #f7fdfe;
    border-radius: 20px;
    text-transform: uppercase;
}

.work:hover {
    font-weight: 700;
    border: 2px solid #f7fdfe;
}

/*div5*/

.services {
    display: flex;
    flex-direction: column;
    color: #45494d;
    text-align: center;
    padding-bottom: 5%;
}

.services h2 {
    color: #0ebfdd;
}

.services_title_text {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 0 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.box {
    position: relative;
    height: 100px;
    width: 70px;
    background-image: url('services.png');
    background-repeat: no-repeat;
    margin: 10px;
    margin-right: 240px;
}

.design {
    background-position: -16px 5px;
}

.ideas {
    background-position: -115px 5px;
}

.answer {
    background-position: -214px 5px;
}

.layout {
    background-position: -16px -102px;
}

.support {
    background-position: -115px -102px;
}

.star {
    background-position: -214px -102px;
}

.services_title {
    position: absolute;
    width: 230px;
    left: 70px;
    font-weight: 500;
}

.services_text {
    position: absolute;
    width: 230px;
    top: 30px;
    left: 70px;
    color:#82868f;
}

/*div6*/

.map {
    width: 100%;
    margin-bottom: -4px;
}

.map iframe {
    width: 100%;
    min-height: 600px;
}

/*div6*/

footer {
    width: 100%;
    background-color: #45494d;
}

.footer_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #82868f;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
    list-style: none;
    color: #f7fdfe;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
}

.link {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a {
    height: 40px;
    width: 40px;
    background-image: url('link.png');
    cursor: pointer;
}

.mail {
    background-position: -24px -13px;
}

.fb {
    background-position: -95px -12px;;
}

.tw {
    background-position: -168px -12px;;
}

.footer_bottomtext {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #82868f;
    font-size: 0.8rem;
}

.delimiter::after {
    content: '\2758';
    padding: 0 15px;
}

div.delimiter:last-child::after {
    display: none;
}
