* {
    box-sizing: border-box;
}

.box {
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    margin: auto;
}

.loader {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    border-radius: 10px;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.first {
    height: 25px;
    margin-left: -45px;
    background-color: rgb(78, 165, 90);
    animation-name: move1;
    animation-delay: -1.05s;
}

.second {
    height: 85px;
    margin-left: -15px;
    background-color: rgb(212, 93, 93);
    animation-name: move2;
    animation-delay: -0.75s;
}

.third {
    height: 136px;
    margin-left: 15px;
    background-color: rgb(250, 69, 144);
    animation-name: move3;
}

.fourth {
    height: 126px;
    margin-left: 45px;
    background-color: rgb(203, 235, 60);
    animation-name: move4;
    animation-delay: -0.35s;
}

@keyframes move1 {
    0% {top: 180px;}
    100% {top: 200px;}
}

@keyframes move2 {
    0% {top: 150px;}
    100% {top: 170px;}
}

@keyframes move3 {
    0% {top: 145px;}
    100% {top: 165px;}
}

@keyframes move4 {
    0% {top: 125px;}
    100% {top: 145px;}
}
