.hero-portrait {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.testimonials-indicators li {
  background-color: #6c757d;
}

.testimonials-indicators .active {
  border-color: #6c757d;
}

.carousel-logo-control {
  filter: invert(100%);
}

.testimonials-carousel-item {
  min-width: 130px;
  min-height: 130px;
}

.facts {
  background-color: #9966cc;
}
